@import './Variables.scss';
@import '../App.scss';


.button-continue {
    width: 100%;
    padding: 16px;
    color: $color-surface;
    background-color: $color-accent;
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.3s, background-color 0.3s;
    border: none;
    margin: 24px 0 80px 0;
    font-family: "NotoSans-SemiBold", sans-serif;
    font-size: 16px;
    border-radius: 8px;

    &:hover {
        opacity: 0.8;
    }
    &:focus, :focus-visible {
        outline: 4px auto $color-accent;
    }

    &.is-active {
        opacity: 0.5;
    }
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

@media (max-width: 480px) {
    .button-continue {
        margin: 16px 0 24px 0 ;
    }
}
  