@import "./Variables.scss";

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;


}

h2 {
    margin-bottom: 40px;
    text-align: left;
}
.option-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.option-item {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border: 2px solid $color-border-default;
    border-radius: 8px;
    padding: 20px 40px;
    cursor: pointer;
    transition: 0.3s;
    background-color: $color-surface;
    box-sizing: border-box;
    

   

    &:hover {
        border-color: $color-accent;
    }
    &.active {
        border: 2px solid $color-accent;
    }
}

.genre-button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $color-surface;
    border: 2px solid $color-border-default;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    position: relative;

    .active & {
        background-color: $color-accent;
        border-color: $color-accent;
        color: $color-surface;
    }
}


.movie-genre {
    display: flex;
    align-items: center;
    column-gap: 16px;
}


@media (max-width: 480px) {
    .option-item {
  
        padding: 16px 16px;

    }
    h2 { 
    margin-bottom: 24px;
    }

    .option-list {
        row-gap: 16px;
    }
}